* {
  box-sizing: border-box;
}

h1 { font-size: 50px; }
body {
  margin: 0;
  font: 20px Helvetica, sans-serif; color: #333;
  width: 100vw; height: 100vh;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding-block: 4px;
  padding-inline: 16px;
  min-height: 40px;
  color: #fff;
  background-color: #dc8100;
  border-radius: 4px;
}
button:hover {
  background-color: #a35f00;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 400px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  margin-top: 48px;
  margin-inline: auto;
  font-size: 50px;
  padding-inline: 8px;
}

.square {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}